@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
    background-color: #F5F5F5;
}

#SobreDA {
    display: flex;
    margin-bottom: 20px;
}

.detailing {
    display: grid;
    grid-template-areas: ".Surgimento" ".Atualmente" ".Finalidade" ".Cursos";
    gap: 30px;
    margin: auto;
}

.sectionCards-SobreDA {
    width: 53.5em;
    height: 33.2em;
    background-image: linear-gradient(118.63deg, #DB1E2F -0.8%, #4C3B92 72.27%);
    padding: 4.2em 6em 10.5em 12em;
    border-radius: 0px 8px 8px 0px;
}

.carousel .slick-slider {
    height: 330px;
    width: 300px;
}

.carousel {
    display: flex;
    justify-content: center;
    position: absolute;
    margin: 25.9em 0 0 20em;
    width: 300px;
}

.carousel-content {
    width: 330px;
    height: 330px;
}

.carousel-card {
    width: 300px;
    height: 330px;
    box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
}

.carousel-card>img {
    margin-top: 40px;
    width: 300px;
    height: 330px;
    object-fit: cover;
}

.carousel-card>img {
    margin-top: -18px;
}

.carousel .slick-dots {
    position: relative;
    margin-left: 80px;
    margin-top: 20px;
    height: -30px;
    top: 0%;
}

.carousel .slick-prev:before,
.carousel .slick-next:before {
    display: none;
}

.carousel .slick-dots li button:before {
    font-size: 10px;
    color: #A99BDE;
    opacity: 100%;
}

.carousel .slick-dots li.slick-active button:before {
    opacity: 1;
    color: #4C3B92;
}


.carousel .slick-dots li button {
    width: 4px;
    height: 4px;
}

.carousel .slick-next > img {
    position: relative;
    left: 1px;
    top: 10px;
}

.carousel .slick-prev > img {
    position: relative;
    left: -70px;
    top: -5px;
}

.carousel .slick-dots li {
    width: 3px;
    height: 4px;
}

.carousel .slick-dots > ul {
    margin: auto;
    width: 150px;
}

.PurpleSquare-Surgimento,
.PurpleSquare-Atualmente,
.PurpleSquare-Finalidade,
.PurpleSquare-Cursos {
    height: 90px;
    width: 90px;
    background-color: #A99BDE;
    margin-bottom: 8px;
}

.PurpleSquare-Surgimento {
    padding: 20px 11px 20px 11px;
}

.paragraphDA-Surgimento {
    width: 250px;
}

.PurpleSquare-Atualmente {
    padding: 20px 17px 20px 17px;
}

.paragraphDA-Atualmente {
    width: 264px;
}

.PurpleSquare-Finalidade {
    padding: 18px;
}

.paragraphDA-Finalidade {
    width: 280px;
}

.PurpleSquare-Cursos {
    padding: 17px 13px 17px 13px;
}

.paragraphDA-Cursos {
    width: 280px;
}

@media screen and (max-width:1229px) and (min-width: 948px){
    .PurpleSquare-Surgimento,
    .PurpleSquare-Atualmente,
    .PurpleSquare-Finalidade,
    .PurpleSquare-Cursos {
        height: 60px;
        width: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .detailing {
        gap: 30px;
    }

    .PurpleSquare-Surgimento {
        padding: 0;
    }
    
    .PurpleSquare-Surgimento>img {
        width: 44.75px;
        height: 34.15px;
    }

    .PurpleSquare-Atualmente>img {
        width: 38.57px;
        height: 34.54px;
    }

    .PurpleSquare-Atualmente {
        padding: 0;
    }

    .PurpleSquare-Finalidade {
        padding: 0;
    }
    
    .PurpleSquare-Finalidade>img {
        width: 44.75px;
        height: 34.15px;
    }

    .PurpleSquare-Cursos {
        padding: 0;
    }

    .PurpleSquare-Cursos>img {
        width: 44.75px;
        height: 34.15px;
    }

    .sectionCards-SobreDA {
        width: 44em;
        height: 27em;
        padding: 40px 50px 60px 80px;
    }

    .paragraphDA-Surgimento {
        width: 200px;
    }

    .paragraphDA-Atualmente {
        width: 200px;
    }

    .paragraphDA-Finalidade {
        width: 200px;
    }

    .paragraphDA-Cursos {
        width: 200px;
    }

    .carousel .slick-slider {
        height: 280px;
        width: 250px;
    }

    .carousel {
        margin-top: 20em;
        margin-left: 13em;
    }

    .carousel-content {
        height: 280px;
        width: 250px;
    }

    .carousel-card {
        height: 280px;
        width: 250px;
    }

    .carousel-card > img {
        height: 280px;
        width: 250px;
    }

    .carousel .slick-next > img {
        width: 16px;
        height: 16px;
        top: 1px;
    }

    .carousel .slick-prev > img {
        width: 16px;
        height: 16px;
        position: relative;
        left: -70px;
        top: -65px;
    }

    .carousel .slick-dots {
        margin-top: 8px;
        margin-left: 55px;
    }
}

@media screen and (max-width: 948px) and (min-width: 770px) {
    .detailing {
        margin-left: 20px;
    }

    .carousel {
        margin-top: 26em;
        margin-left: 4em;
    }
}

@media screen and (max-width: 770px) and (min-width: 440px){
    #SobreDA {
        display: block;
    }

    .detailing {
        margin-top: 300px;
        margin-left: 45px;
        margin-right: 45px;
    }

    .sectionCards-SobreDA {
        width: 100%;
        padding-left: 45px;
        padding-top: 60px;
        background-image: none;
        background-color: #4C3B92;
        padding-right: 150px;
        border-radius: 0;
    }

    .carousel {
        background-color: none;
        top: 0;
        margin-top: 81em;
        margin-left: 4%;
        margin-right: 45px;
        height: 200px;
        width: 100%;
    }

    .carousel-content {
        background-color: transparent;
        box-shadow: none;
        height: 200px;
        width: 100%;
    }

    .carousel-card {
        height: 200px;
        width: 170px;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
        margin: 20px 0px 20px 0px;
    }

    .carousel-card > img {
        margin-top: 20px;
        height: 200px;
        width: 170px;
    }

    .carousel .slick-slider {
        height: 250px;
        width: 100%;
    }

    .carousel .slick-dots {
        margin-top: 5px;
        margin-left: 35%;
    }

    .carousel .slick-prev > img{
        top: -90px;
    }

    .carousel .slick-next > img{
        top: -3px;
    }
    
}

@media screen and (max-width: 440px) {
    #SobreDA {
        display: block;
    }
    .sectionCards-SobreDA {
        background-image: none;
        background-color: #4C3B92;
        border-radius: 0;
        padding: 24px 12px 40px 12px;
        width: 100%;
        height: 189px;
    }
    .sectionCards-SobreDA>h1 {
        font-size: 22px;
    }
    .sectionCards-SobreDA>p {
        font-size: 16px;
    }
    .sectionCards-SobreDA>.line {
        width: 100%;
    }
    .detailing {
        display: block;
        margin-left: 12px;
        margin-top: 155px;
    }
    .PurpleSquare-Surgimento,
    .PurpleSquare-Atualmente,
    .PurpleSquare-Finalidade,
    .PurpleSquare-Cursos {
        width: 53px;
        height: 53px;
    }
    .PurpleSquare-Surgimento {
        padding: 12px 7px 12px 7px;
        margin-bottom: 45px;
    }
    .PurpleSquare-Surgimento>img {
        width: 39.75px;
        height: 29.15px;
    }
    .PurpleSquare-Atualmente {
        padding: 12px 10px 12px 10px;
        margin-bottom: 45px;
    }
    .PurpleSquare-Atualmente>img {
        width: 33.57px;
        height: 29.54px;
    }
    .PurpleSquare-Finalidade {
        padding: 12px 7px 12px 7px;
        margin-bottom: 45px;
    }
    .PurpleSquare-Finalidade>img {
        width: 39.75px;
        height: 29.15px;
    }
    .PurpleSquare-Cursos {
        padding: 12px 7px 12px 7px;
        margin-bottom: 45px;
    }
    .PurpleSquare-Cursos>img {
        width: 39.75px;
        height: 29.15px;
    }
    .carousel {
        background-color: none;
        top: 0;
        margin-top: 45em;
        margin-left: 0;
        height: 144px;
        width: 100%;
    }
    .carousel-content {
        background-color: transparent;
        box-shadow: none;
        height: 124px;
        width: 100%;
    }
    .carousel-card {
        width: 108px;
        height: 124px;
        box-shadow: 7px 7px 15px rgba(0, 0, 0, 0.25);
        margin: 20px 0px 20px 12px;
    }
    .carousel-card>img {
        margin-top: 20px;
        width: 108px;
        height: 124px;
    }
    .carousel .slick-dots {
        margin-top: -2em;
        position: relative;
        margin-left: 37%;
    }
    .carousel .slick-dots li button:before {
        font-size: 5px;
    }
    .carousel .slick-prev>img,
    .carousel .slick-next>img {
        display: none;
    }
    .carousel .slick-dots li button {
        margin: 0;
        width: 4px;
        height: 4px;
    }
    .carousel .slick-dots li button:before {
        width: 4px;
        height: 4px;
        line-height: 10px;
        font-size: 6px;
    }
    .carousel .slick-dots li {
        width: 1px;
        height: 4px;
    }

    .carousel .slick-dots > ul {
        width: 90px;
    }

    .carousel .slick-slider {
        height: 180px;
        width: 100%;
    }
}

@media screen and (max-width: 420px) and (min-width: 340px) {
    .detailing {
        margin-top: 155px;
    }
}