@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 10px;
}

.PurpleSquare {
    display: flex;
    height: 90px;
    width: 90px;
    background-color: #A99BDE;
    margin-bottom: 8px;
}

.descricaoDA {
    display: flex;
    flex-direction: column;
}

.ContentDA h1 {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    color: #14074B;
    margin-bottom: 18px;
}

.lineDA {
    width: 60px;
    height: 3px;
    background-color: #4C3B92;
    margin-bottom: 12px;
}

.ContentDA p {
    font-family: 'Barlow';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    color: #14074B;
}

@media screen and (max-width: 1229px) {
    .ContentDA > p {
        font-size: 15px;
    }
}

@media screen and (max-width: 770px) {
    
    .ContentDA {
        width: 210px;
    }

    .descricaoDA {
        width: 250px;
    }
    
}

@media screen and (max-width: 440px) {
    .ContentDA {
        position: absolute;
        margin-left: 74px;
    }

    .ContentDA > h1 {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .lineDA {
        margin-bottom: 8px;
        width: 40px;
    }

    .ContentDA > p {
        font-size: 12px;
        width: 222px;
        line-height: 15px;
        margin-top: 0;
    }    
}