@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
}

.sectionCards {
  width: 53.5em;
  height: 33.2em;
}

.line {
  width: 7em;
  height: 0.5em;
  background-color: #F1F1F1;
  margin-bottom: 2.8em;
}

.content {
  display: flex;
  flex-direction: column;
}

.description {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 400;
  font-size: 1.8em;
  color: #F1F1F1;
}

.title {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 4em;
  margin-bottom: 28px;
  color: #F1F1F1;
}

@media screen and (max-width: 440px) {
  .title {
    font-size: 22px;
    margin-bottom: 12px;
  }

  .description {
    font-size: 16px;
    line-height: 17px;
  }

  .line {
    height: 3px;
    width: 35px;
    margin-bottom: 12px;
  }
}