@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600&display=swap');


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 10px;
  background-color: #F5F5F5;
}

.navbar-op {
  position: relative;
  color: #4C3B92;
  text-decoration: none;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}

header {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  height: 100px;
  width: 100%;
  padding-left: 120px;
  padding-right: 120px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  background-color: #F5F5F5;
  justify-content: space-between;
  z-index: 1000;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.navbar-op::after {
  content: '';
  position: absolute;
  background-color: #4C3B92;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -7px;
  transition: 0.3s;
}

.options {
  display: flex;
  gap: 4em;
}

.navbar-op:hover:after {
  width: 100%;
}

.introduction {
  margin: 15.6em 0 0 12em;
  color:#14074B;
}

.welcome-title {
  width: 10.4em;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 600;
  font-size: 6em;
  line-height: 1.2em;
  margin-bottom: 0;
}

.introduction > p {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
  font-size: 2.4em;
  margin-bottom: 16px;
}

.welcome-description {
  width: 22em;
  margin-top: 16px;
}

.welcome {
  margin-bottom: 16px;
}

p.welcome {
  font-family: 'Barlow';
  font-style: normal;
  font-weight: normal;
}

.statuteButton {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:#4C3B92;
  border: none;
  border-radius: 4px;
  color: #F5F5F5;
  font-family: 'Barlow';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  width: 202px;
  height:46px;
  gap: 16px;
  cursor: pointer;
}

.images {
  margin-top: -3em;
  margin-bottom: 12.5em;
  display: flex;
  justify-content: flex-end;
}

.images > img {
  padding-right: 6.5em;
}

.images > img:nth-child(5) {
  padding-right: 12em;
}

#checkbox-menu {
  position: absolute;
  opacity: 0%;
}

.hamburguer-lines {
  cursor: pointer;
  position: relative;
  display: block;
  height: 18px;
  width: 19px;
}

.hamburguer-lines > span {
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  background-color: #4C3B92;
  transition: 0.25s ease-in-out;
}

.hamburguer-lines > span:nth-child(1) {
  top: 0;
}

.hamburguer-lines > span:nth-child(2) {
  top: 6px;
}

.hamburguer-lines > span:nth-child(3) {
  top: 12px;
}

#checkbox-menu:checked + .hamburguer > .hamburguer-lines > span:nth-child(1) {
  transform: rotate(-45deg);
  top: 6px;
}

#checkbox-menu:checked + .hamburguer > .hamburguer-lines > span:nth-child(2) {
  opacity: 0;
}

#checkbox-menu:checked + .hamburguer > .hamburguer-lines > span:nth-child(3) {
  transform: rotate(45deg);
  top: 6px;
}

.hamburguer {
  margin-left: 100px;
  display: none;
  margin-top: 5px;
}

.introduction > a {
  text-decoration: none;
}

@media screen and (max-width: 1330px) {
  .introduction {
    margin-left: 8em;
  }
  
  .images > img {
    width: 150px;
  }

  .images > img:nth-child(5) {
    padding-right: 65px;
    margin-right: 2em;
  }

  header {
    padding-left: 8em;
    padding-right: 8em;
  }
}

@media screen and (max-width: 1110px) {
  
  .introduction {
    margin-top: 140px;
  }
  
  .welcome {
    font-size: 16px;
  }

  .welcome-title {
    font-size: 40px;
  }

  .welcome-description {
    font-size: 16px;
  }

  .images > img {
    width: 120px;
    padding-right: 45px;
  }

  .images > img:nth-child(5) {
    padding-right: 45px;
    margin-right: 40px;
  }

  .images {
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 948px) {
  
  .images {
    margin-top: 20px;
    margin-bottom: 40px;
  }
  
  .images > img:nth-child(n) {
    width: 110px;
    height: 100px;
    padding-right: 25px;
  }

}

@media screen and (max-width: 770px) {
  header {
    height: 80px;
    padding-left: 45px;
    padding-right: 45px;
  }

  header > img {
    width: 120px;
  }

  .introduction {
    margin-left: 45px;
    margin-top: 115px;
  }

  .images {
    margin-top: 60px;
    margin-bottom: 0;
  }
}

@media screen and (max-width: 440px) {

  header {
    height: 40px;
    padding-right: 12px;
    padding-left: 12px;
    z-index: 1000;
  }

  header > img {
    width: 78px;
    height: 24px;
  }

  .options {
    display: none;
  }

  .introduction {
    margin: 64px 12px 0 12px;
  }

  p.welcome {
    font-size: 16px;
  }

  h1.welcome-title {
    font-size: 22px;
  }

  p.welcome-description{
    width: 16em;
    font-size: 16px;
  }

  .statuteButton {
    display: flex;
    align-items: center;
    gap: 7px;
    width: 147px;
    height: 1.8em;
    padding: 0;
    border-radius: 2px;
    margin-top: 0;
  }

  .statuteButton > span {
    font-size: 14px;
    font-weight: 400;
    font-family: 'Barlow';
    font-style: normal;
    padding-bottom: 2.5px;
  }

  .statuteButton > img {
    width: 0.7em;
    height: 0.7em;
  }

  .images {
    margin-bottom: 0;
  }

  .images > img {
    box-sizing: unset;
    margin-top: 15px;
    width: 4.075em;
    height: 4.75em;
  }

  .images > img:nth-child(2) {
    display: none;
  }

  .images > img:nth-child(4) {
    display: none;
  }

  .images > img:nth-child(1) {
    padding: 0;
  }

  .images > img:nth-child(3) {
    padding: 0;
  }

  .images > img:nth-child(5) {
    padding: 0;
    margin-right: 20px;
  }

  .hamburguer {
    display: block;
  }

  .teste {
    width: 50px;
    height: 50px;
    background-color: blueviolet;
    display: none;
  }

  .options {
    position: fixed;
    display: none;
    flex-direction: column;
    left: 0;
    width: 100%;
    top: 40px;
    background-color: #F5F5F5;
    height: 100vh;
    padding: 20px;
    gap: 2em;
    z-index: 10;
  }

  .options > a {
    color: #4C3B92;
    z-index: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid #00000036;
  }

  #checkbox-menu:checked ~ .options{
    display: flex;
  }

}